@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
body{    
    font-family: Robot mono, monospace;
    background: aquamarine;
    color: brown;
    margin: 0px;
}
h1{
    color: white;
}
body h1{
    /* margin: 0px; */
    color: black;
}
body > article > section > div > h1{
    background-color: aliceblue;
    color: blueviolet;
}
#header{
    border: solid 2px black;
    border-top: none;
    border-bottom: none;
    margin-top: 60px;
}